name: Build APP

# manual and on push
on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      found: ${{ steps.PR.outputs.pr_found }}
    steps:
      - uses: 8BitJonny/gh-get-current-pr@2.2.0
        id: PR

  build-android:
    needs: check
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./chameleonultragui
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '21'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: flutter build apk --build-number ${{ github.run_number }}
      - uses: actions/upload-artifact@v4
        with:
          name: apk
          path: chameleonultragui/build/app/outputs/flutter-apk/app-release.apk

  build-windows:
    permissions: write-all
    needs: check
    runs-on: windows-latest
    defaults:
      run:
        working-directory: ./chameleonultragui
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter config --enable-windows-desktop
      - run: flutter build windows --release --build-number ${{ github.run_number }}
      # - run: flutter test # Skipped to speed up build
      - uses: actions/upload-artifact@v4
        with:
          name: windows
          path: chameleonultragui/build/windows/x64/runner/Release/
      - name: Install NSIS
        uses: repolevedavaj/install-nsis@v1.0.3
        with:
          nsis-version: '3.11'
      - name: Create NSIS installer
        uses: joncloud/makensis-action@v5.0
        with:
          script-file: nsis-installer.nsi
      - uses: actions/upload-artifact@v4
        with:
          name: windows-installer
          path: chameleonultragui-setup-win.exe

  create_dev_release:
    permissions: write-all
    name: Create dev pre-release with artifacts
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs:
      - build-windows
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Download release artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: '{windows,windows-installer}'
          path: release-artifacts
      - name: Create zip files from artifacts
        run: |
          cd release-artifacts
          for dir in */; do
            artifact_name="${dir%/}"
            zip -r "${artifact_name}.zip" "$dir"
          done
      - name: Upload to dev release
        uses: softprops/action-gh-release@v1
        with:
          body: |
            Auto-generated packages from latest commit on `main` branch.
            Built from commit ${{ github.sha }}
          tag_name: dev
          name: Development release
          draft: false
          prerelease: true
          target_commitish: ${{ github.sha }}
          generate_release_notes: true
          files: release-artifacts/*.zip
      - name: Fix up release tag
        run: |
          git tag -f dev
          git push --tags -f

  create_release:
    permissions: write-all
    name: Create tagged release with artifacts
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/') && !contains(github.ref, 'dev')
    needs:
      - build-windows
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Download release artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: '{windows,windows-installer}'
          path: release-artifacts
      - name: Create zip files from artifacts
        run: |
          cd release-artifacts
          for dir in */; do
            artifact_name="${dir%/}"
            zip -r "${artifact_name}.zip" "$dir"
          done
      - name: Upload to tagged release
        uses: softprops/action-gh-release@v1
        with:
          body: |
            Auto-generated packages for release ${{ github.ref_name }}
            Built from commit ${{ github.sha }}
          name: Release ${{ github.ref_name }}
          draft: false
          target_commitish: ${{ github.sha }}
          generate_release_notes: true
          append_body: true
          files: release-artifacts/*.zip
